<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>EXAMPLE</title>

    <script src="https://cdn.tailwindcss.com"></script>
    
  </head>
  <body>
    
     <header>
      <nav>
        <div class="flex align-start justify-between p-5 bg-cyan-800 text-white text-lg font-semibold">
          <div class="flex align-middle p-2">
            <a href="/">Klinik</a>
          </div>
          <div class="flex" id="navbarNav">
            <ul class="flex align-middle gap-3 text-white p-2">
              <li class="nav-item">
                <a class="nav-link" href="/">Dokter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/dokter">Ruangan</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#">Obat</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    <main>
      <div class="md:max-w-[1200px] mx-auto">
        <section class="mt-[2vh]">
          <div class="flex justify-center py-4 text-cyan-800 font-bold text-3xl">
            <p>Input Data ke Tabel Dokter</p>
          </div>
        </section>
        <section class="mt-[2vh]">
          {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  <div class="mb-4">
                    {% for category, message in messages %}
                      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}
              {% endwith %}
        </section>

        <section class="mt-[5vh]">
          <form action="/dokter/create" method="POST">
            <div class="flex flex-col p-4 gap-4 border-2 border-cyan-700">
              <div class="flex justify-between gap-4 p-4">
                <label class="align-middle flex p-0" for="id_dokter">ID Dokter</label>
                <input class="border-2 border-gray-500 w-[80%] p-2" placeholder="ID Dokter"  type="text" name="id_dokter" id="">
              </div>
              
              <div class="flex justify-between gap-4 p-4">
                <label class="align-middle flex p-0" for="id_dokter">Nama Dokter</label>
                <input class="border-2 border-gray-500 w-[80%] p-2" placeholder="Nama Dokter"  type="text" name="nama_dokter" id="">
              </div>
              
              <div class="flex justify-between gap-4 p-4">
                <label class="align-middle flex p-0" for="id_dokter">Spesialisasi</label>
                <input class="border-2 border-gray-500 w-[80%] p-2" placeholder="Spesialisasi"  type="text" name="spesialisasi" id="">
              </div>

              <div class="flex justify-between gap-4 p-4">
                <label class="align-middle flex p-0" for="telp_dokter">Nomor Telepon Dokter</label>
                <input class="border-2 border-gray-500 w-[80%] p-2" placeholder="Telepon Dokter"  type="text" name="telp_dokter" id="" >
              </div>
              
              <div class="flex justify-between gap-4 p-4">
                <label class="align-middle flex p-0" for="jadwal_praktik">Jadwal Praktik</label>
                <input class="border-2 border-gray-500 w-[80%] p-2"  placeholder="Jadwal Praktik" type="text" name="jadwal_praktik" id="">
              </div>
              
              <div class="flex justify-end gap-6 p-4">
                <a href="{{ url_for('routes.dokter') }}" class="px-8 py-3 border-[2px] border-cyan-800 text-cyan-800 box-border">Back to Table A List</a>
                <button type="submit" class="px-8 py-3 bg-cyan-800 text-white">Unggah</button>
              </div>
            </div>
          </form>
          <br>  
        </section>
      </div>
            
    
        
    </main>
    
    <footer class="relative bottom-0 w-full py-1 bg-cyan-800 text-white flex justify-center">
      <div class="flex text-center text-xs">
        <p>&copy; 2024 Example</p>
      </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>