{% extends "index.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
    <div class="flex-1 p-6 overflow-y-auto">
        <h2 class="text-2xl font-semibold mb-4 text-dark text-center">Dashboard Content</h2>
        <p class="text-dark text-center mb-6">content here.</p>

        <div class="mt-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 max-w-screen-lg mx-auto">
            {% if stokObat %}
            <div class="bg-whites p-4 shadow-lg rounded-lg">
                <h3 class="text-xl font-medium text-dark">Obat dengan Stok Terbanyak</h3>
                <div class="flex">
                    <p class="text-dark">{{ stokObat[0] }}</p>  <!-- nama_obat -->
                    <p class="text-dark">{{ stokObat[1] }}</p>  <!-- stok -->
                </div>
            </div>
            {% else %}
            <p class="text-dark">Tidak ada data obat</p>
            {% endif %}
            
            {% if dokterUmum %}
            <div class="bg-whites p-4 shadow-lg rounded-lg">
                <h3 class="text-xl font-medium text-dark">Obat dengan Stok Terbanyak</h3>
                <p class="text-dark">{{ dokterUmum.jumlah }}</p>  <!-- nama_obat -->
            </div>
            {% endif %}
            
            <div class="bg-whites p-4 shadow-lg rounded-lg">
                <h3 class="text-xl font-medium text-dark">Card 2</h3>
                <p class="text-dark">pemeriksaan paling mahal</p>
            </div>
            <div class="bg-whites p-4 shadow-lg rounded-lg">
                <h3 class="text-xl font-medium text-dark">Card 3</h3>
                <p class="text-dark">dokter paling uhuy</p>
            </div>

            <div class="bg-whites p-4 shadow-lg rounded-lg">
                <h3 class="text-xl font-medium text-dark">Card 4</h3>
                <p class="text-dark">obat paling mahal</p>
            </div>
            <div class="bg-whites p-4 shadow-lg rounded-lg">
                <h3 class="text-xl font-medium text-dark">Card 5</h3>
                <p class="text-dark">asdfasdf</p>
            </div>
            <div class="bg-whites p-4 shadow-lg rounded-lg">
                <h3 class="text-xl font-medium text-dark">Card 6</h3>
                <p class="text-dark">asdfasdf</p>
            </div>
        </div>
    </div>
{% endblock %}
