{% extends "index.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
    <div class="flex-1 p-6 overflow-y-auto">
        <div class="mt-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 max-w-screen-lg mx-auto">
            {% if stokObat %}
            <div class="bg-whites p-4 shadow-lg rounded-lg flex flex-col gap-2">
                <h3 class="text-xl font-medium text-dark">Stok Obat Terbanyak</h3>
                <div class="flex flex-col gap-2 justify-between bg-base p-2 rounded">
                    <p class="text-accent text-md font-semibold">{{ stokObat }}</p>
                </div>
            </div>
            {% else %}
            <p class="text-dark">Tidak ada data obat</p>
            {% endif %}

            <div class="bg-whites p-4 shadow-lg rounded-lg flex flex-col gap-2">
                <h3 class="text-xl font-medium text-dark">Avg Biaya Periksa</h3>
                <div class="flex flex-col gap-2 justify-between bg-base p-2 rounded h-full">
                    <p class="text-accent_dark text-5xl font-bold">{{ avgBiaya }}</p>
                </div>
            </div>

            <div class="bg-whites p-4 shadow-lg rounded-lg flex flex-col gap-2">
                <h3 class="text-xl font-medium text-dark">Total Pasien</h3>
                <div class="flex flex-col gap-2 justify-between bg-base p-2 rounded">
                    <p class="text-accent_dark text-5xl font-bold">{{ totalPasien }}</p>
                </div>
            </div>

            <div class="bg-whites col-span-2 p-4 shadow-lg flex flex-col gap-2 rounded-lg">
                <h3 class="text-xl font-medium text-dark">Jumlah Dokter</h3>
                <div class="flex gap-2">
                    {% for spesialisasi, jumlah in [('Dokter Umum', dokterUmum), ('Dokter Anak', dokterAnak), ('Dokter Kandungan', dokterKandungan), ('Dokter THT', dokterTHT), ('Dokter Mata', dokterMata)] %}
                    {% if jumlah %}
                    <div class="flex flex-col gap-2 justify-between bg-base p-2 rounded">
                        <p class="text-accent_dark font-bold">{{ spesialisasi }}</p>
                        <p class="text-accent_dark text-5xl font-bold">{{ jumlah }}</p>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            {% if jmlRuangan %}
            <div class="bg-whites p-4 shadow-lg rounded-lg flex flex-col gap-2">
                <h3 class="text-xl font-medium text-dark">Ruangan Tersedia</h3>
                <div class="flex flex-col gap-2 justify-between bg-base p-2 rounded h-full">
                    <p class="text-accent_dark text-5xl font-bold">{{ jmlRuangan }}</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
