<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    
    <title>Klinik</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="p-0 m-0">
    
    <header>
      <nav>
        <div class="flex align-start justify-between p-3 bg-cyan-800 text-white text-lg font-semibold">
          <div class="flex align-middle p-2 text-sm">
            <a href="/">Klinik</a>
          </div>
          <div class="flex" id="navbarNav">
            <ul class="flex align-middle gap-3 text-sm text-white p-2">
              <li>
                <a href="/">Dokter</a>
              </li>
              <li>
                <a href="/dokter">Ruangan</a>
              </li>
              <li>
                <a href="/#">Obat</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    <main>
      <div class="md:max-w-[1200px] mx-auto">
        <section class="mt-[5vh] text-2xl text-center font-bold">
          <p>Daftar Dokter di Klinik Kelompok 4</p>
        </section>

        <section class="mt-[5vh]">
          <div class="flex justify-between">
            <a class="p-2 bg-cyan-800 text-white rounded-md" href="/dokter/create">Tambahkan Data</a>
            <a class="p-2 bg-cyan-800 text-white rounded-md" href="/dokter/by_spesialisasi">tes Filter spesialisasi</a>
          </div>
        </section>

        <section class="my-[5vh]">
          {% if table %}
            <table class="w-full bg-gray-100">
              <thead>
                <tr class="mt-4 ml-4 text-black bg-gray-300" >
                  <th class="p-2 px-6 border-gray-800 border-[.6px]">Id Dokter</th>
                  <th class="p-2 px-6 border-gray-800 border-[.6px]">Nama Dokter</th>
                  <th class="p-2 px-6 border-gray-800 border-[.6px]">Spesialisasi</th>
                  <th class="p-2 px-6 border-gray-800 border-[.6px]">Jadwal Praktik</th>
                  <th class="p-2 px-6 border-gray-800 border-[.6px]">Kontak</th>
                  <th class="p-2 px-6 border-gray-800 border-[.6px]">Ganti / Hapus</th>
                </tr>
              </thead>
              <tbody class="bg-gray-200">
                {% for A in table %}
                  <tr>
                    <td class="border-gray-800 border-[.6px] px-5 py-2 text-center">{{ A.id_dokter }}</td>
                    <td class="border-gray-800 border-[.6px] px-5 py-2 text-center">{{ A.nama_dokter }}</td>
                    <td class="border-gray-800 border-[.6px] px-5 py-2 text-center">{{ A.spesialisasi }}</td>
                    <td class="border-gray-800 border-[.6px] px-5 py-2 text-center">{{ A.jadwal_praktik }}</td>
                    <td class="border-gray-800 border-[.6px] px-5 py-2 text-center">{{ A.telp_dokter }}</td>
                    <td class="border-gray-800 border-[.6px] px-5 py-2 text-center">
                      <div class="inline-flex gap-2 justify-between text-white text-sm">
                        <a href="/dokter/update/{{ A.id_dokter }}" class=" p-2 px-4 bg-cyan-800">Update</a>
                        <form action="/dokter/delete/{{ A.id_dokter }}" method="POST">
                          <button type="submit" class="p-2 px-4 bg-red-800 " onclick="return confirm('Are you sure you want to delete this continent?');">Delete</button>
                        </form>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
    
        {% else %}
          <p class="text-center">No data found.</p>
        {% endif %}
        </section>
    </main>

    <div  class="py-1 bg-cyan-800 text-white flex justify-center">
      <div class="flex text-center text-xs">
        <p>&copy; 2024 Example</p>
      </div>
    </div>
  </body>
</html>