<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-height-screen">
    <header>
        <nav>
          <div class="flex align-start justify-between p-5 bg-cyan-800 text-white text-lg font-semibold">
            <div class="flex align-middle p-2">
              <a href="/">Klinik</a>
            </div>
            <div class="flex" id="navbarNav">
              <ul class="flex align-middle gap-3 text-white p-2">
                <li class="nav-item">
                  <a class="nav-link" href="/">Dokter</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/dokter">Ruangan</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/continent">Obat</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <main>
        <section class="grid grid-cols-3 gap-2 mx-auto">
            <div class="min-w-[250px]  ring-cyan-800 ring-2 bg-gray-200 inline-flex flex-col gap-2 p-5 rounded-md m-2">
                <h1 class="font-bold text-xl text-cyan-800">Dokter</h1>
                <img class="rounded-md ring-2 ring-cyan-800" src="https://placehold.co/400" alt="img">
                <div  class="text-cyan-800 flex flex-col gap-2 my-2">
                    <h1 class="text-xl font-bold">Description</h1>
                    <p>Tabel daftar nama dokter yang ada di Klinik Kelompok 4</p>
                </div>
                <div class="flex p-1 justify-end">
                    <a href="/dokter"><button class="p-2 px-4 rounded-md bg-cyan-800 text-white">Lihat Tabel</button></a>
                </div>
            </div>
            <div class="min-w-[250px]  ring-cyan-800 ring-2 bg-gray-200 inline-flex flex-col gap-2 p-5 rounded-md m-2">
                <h1 class="font-bold text-xl text-cyan-800">Pasien</h1>
                <img class="rounded-md ring-2 ring-cyan-800" src="https://placehold.co/400" alt="img">
                <div  class="text-cyan-800 flex flex-col gap-2 my-2">
                    <h1 class="text-xl font-bold">Description</h1>
                    <p>Tabel daftar nama dokter yang ada di Klinik Kelompok 4</p>
                </div>
                <div class="flex p-1 justify-end">
                    <a href="/pasien"><button class="p-2 px-4 rounded-md bg-cyan-800 text-white">Lihat Tabel</button></a>
                </div>
            </div>
            <div class="min-w-[250px] ring-cyan-800 ring-2 bg-gray-200 inline-flex flex-col gap-2 p-5 rounded-md m-2">
                <h1 class="font-bold text-xl text-cyan-800">Petugas Admin</h1>
                <img class="rounded-md ring-2 ring-cyan-800" src="https://placehold.co/400" alt="img">
                <div  class="text-cyan-800 flex flex-col gap-2 my-2">
                    <h1 class="text-xl font-bold">Description</h1>
                    <p>Tabel daftar nama dokter yang ada di Klinik Kelompok 4</p>
                </div>
                <div class="flex p-1 justify-end">
                    <a href="/petugasAdmin"><button class="p-2 px-4 rounded-md bg-cyan-800 text-white">Lihat Tabel</button></a>
                </div>
            </div>
        </section>
      </main>
      <footer class="fixed bottom-0 w-full">
        <div class="bg-cyan-800 flex justify-center p-1 text-white">&copy; 2024 Kelompok 4</div>
      </footer>
</body>
</html>