<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} : : Klinik Sehat</title>
    
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        base: '#e9e4e4',
                        whites: '#FFFFFF',
                        dark: '#000000',
                        accent_dark: '#247B7B',
                        accent: '#44A1A0',
                    }
                }
            }
        }
    </script>
</head>
<body class="bg-base">

    <!-- Main Container -->
    <div class="flex h-screen flex-col">
        <!-- Navbar -->
        <div class="bg-accent_dark text-whites p-4 w-full shadow-md fixed top-0 left-0 z-10 h-[80px]">
            <div class="flex justify-between items-center">
                <div class="text-xl font-semibold">Dashboard</div>
                <div class="space-x-4">
                    <button class="text-whites hover:bg-accent px-3 py-2 rounded">asdfasdf</button>
                </div>
            </div>
        </div>

        <!-- Sidebar and Main Content Container -->
        <div class="flex flex-1 mt-[80px]">
            <!-- Sidebar -->
            <div class="bg-accent_dark w-60 text-whites fixed inset-y-0 left-0 z-20 mt-[80px]">
                <div class="h-16 bg-accent flex items-center justify-center text-xl">
                    Dashboard
                </div>
                <ul class="space-y-4 mt-6 px-4">
                    <li><a href="/" class="block py-2 px-3 rounded hover:bg-accent_dark">Home</a></li>
                    <li><a href="/dokter" class="block py-2 px-3 rounded hover:bg-accent_dark">Tables</a></li>
                    <li><a href="/dokter/create" class="block py-2 px-3 rounded hover:bg-accent_dark">Update</a></li>
                    <li><a href="#" class="block py-2 px-3 rounded hover:bg-accent_dark">Other</a></li>
                </ul>
            </div>

            <!-- Main Content Area -->
            <div class="flex-1 ml-[240px] p-4">
                {% block content %}
                {% endblock %}
            </div> <!--  Main Content Area -->
        </div> <!--  Sidebar and Main Content Container -->

    </div> <!-- Main Container -->

</body>
</html>