{% extends "index.html" %}

{% block title %}
Tabel Resep
{% endblock %}

{% block content %}
    <section class="mt-[5vh] text-2xl text-center font-bold">
        <p>Daftar Resep Klinik Cepat Sembuh</p>
    </section>

    <section class="mt-[5vh]">
        <div class="flex justify-between max-w-5xl w-full mx-auto">
            <a class="p-2 bg-accent text-whites rounded-md" href="/resep/create">Tambahkan Data</a>
            <a class="p-2 bg-accent text-whites rounded-md" href="/resep/by_spesialisasi">Tes Filter Spesialisasi</a>
        </div>
    </section>

    <!-- Table Section -->
    <section class="my-[5vh] w-full max-w-6xl mx-auto">
        {% if table %}
        <table class="w-full bg-gray-100 border-collapse">
            <thead>
                <tr class="bg-gray-300 text-black">
                    <th class="p-2 px-6 border-gray-800 border-[.6px]">Id Resep</th>
                    <th class="p-2 px-6 border-gray-800 border-[.6px]">Id Obat</th>
                    <th class="p-2 px-6 border-gray-800 border-[.6px]">Id Pasien</th>
                    <th class="p-2 px-6 border-gray-800 border-[.6px]">Id Dokter</th>
                    <th class="p-2 px-6 border-gray-800 border-[.6px]">Ganti / Hapus</th>
                </tr>
            </thead>
            <tbody class="bg-gray-200">
                {% for A in table %}
                <tr>
                    <td class="border-gray-800 border-[.6px] px-5 py-2 text-center">{{ A.id_resep }}</td>
                    <td class="border-gray-800 border-[.6px] px-5 py-2 text-center">{{ A.id_obat }}</td>
                    <td class="border-gray-800 border-[.6px] px-5 py-2 text-center">{{ A.id_pasien }}</td>
                    <td class="border-gray-800 border-[.6px] px-5 py-2 text-center">{{ A.id_dokter }}</td>
                    <td class="border-gray-800 border-[.6px] px-5 py-2 text-center">
                        <div class="inline-flex gap-2 justify-between text-white text-sm">
                            <a href="/resep/update/{{ A.id_resep }}" class="p-2 px-4 bg-accent">Update</a>
                            <form action="/resep/delete/{{ A.id_resep }}" method="POST">
                                <button type="submit" class="p-2 px-4 bg-red-800" onclick="return confirm('Are you sure you want to delete this recipe?');">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="text-center">No data found.</p>
        {% endif %}
    </section>
{% endblock %}
