{% extends "index.html" %}

{% block title %}
Tabel Obat
{% endblock %}

{% block content %}
    <!-- Title Section -->
    <section class="mt-[5vh] text-2xl text-center font-bold">
        <p>Daftar Obat Klinik Cepat Sembuh</p>
    </section>

    <!-- Filter Section (Sorting Dropdown) -->
    <section class="mt-[5vh]">
        <div class="flex justify-end max-w-5xl w-full mx-auto">
            <!-- Dropdown for sorting -->
            <select name="sort" id="sort" class="p-2 bg-accent text-whites rounded-md w-[20%]" onchange="location.href=this.value">
                <option value="#" selected disabled>Urutkan Berdasarkan</option>
                <option value="/obat/by_nama">Nama</option>
                <option value="/obat/by_harga">Harga</option>
                <option value="/obat/by_stok">Stok</option>
            </select>
        </div>
    </section>

    <!-- Table Section -->
    <section class="my-[5vh] w-full max-w-6xl mx-auto">
        {% if table %}
        <table class="w-full bg-gray-100 border-collapse">
            <thead>
                <tr class="bg-gray-300 text-black">
                    <th class="p-2 px-6 border-gray-800 border-[.6px]">Id Obat</th>
                    <th class="p-2 px-6 border-gray-800 border-[.6px]">Nama Obat</th>
                    <th class="p-2 px-6 border-gray-800 border-[.6px]">Harga</th>
                    <th class="p-2 px-6 border-gray-800 border-[.6px]">Jenis</th>
                    <th class="p-2 px-6 border-gray-800 border-[.6px]">Stok</th>
                </tr>
            </thead>
            <tbody class="bg-gray-200">
                {% for A in table %}
                <tr>
                    <td class="border-gray-800 border-[.6px] px-5 py-2 text-center">{{ A.id_obat }}</td>
                    <td class="border-gray-800 border-[.6px] px-5 py-2 text-center">{{ A.nama_obat }}</td>
                    <td class="border-gray-800 border-[.6px] px-5 py-2 text-center">{{ A.harga }}</td>
                    <td class="border-gray-800 border-[.6px] px-5 py-2 text-center">{{ A.jenis }}</td>
                    <td class="border-gray-800 border-[.6px] px-5 py-2 text-center">{{ A.stok }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="text-center">No data found.</p>
        {% endif %}
    </section>
{% endblock %}
