{% extends "index.html" %}

{% block title %}Update Dokter{% endblock %}

{% block content %}
<main class="px-6 py-4">
  <div class="container max-w-3xl mx-auto mt-8">

    <!-- Page Title -->
    <h1 class="text-center text-2xl font-semibold text-accent mb-4">Update Dokter</h1>
  
    <!-- Display messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="mb-4">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              <strong>{{ message }}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <!-- Form to update dokter -->
    <form method="POST" class="space-y-4">
      <div class="mb-4">
        <label for="name" class="block text-lg font-medium text-dark">Nama Dokter</label>
        <input type="text" class="w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-accent" id="name" name="nama_dokter" value="{{ table.nama_dokter }}" required>
      </div>

      <button type="submit" class="w-full p-2 bg-accent text-whites rounded-md hover:bg-accent_dark focus:outline-none">Update</button>
    </form>

    <!-- Back to table link -->
    <div class="mt-4">
      <a href="{{ url_for('routes.dokter') }}" class="inline-block py-2 px-4 bg-gray-500 text-whites rounded-md hover:bg-gray-600">Back to Table A List</a>
    </div>
  
  </div>
</main>
{% endblock %}
