{% extends "index.html" %}

{% block title %}Update Data Pasien{% endblock %}

{% block content %}
<main class="px-6 py-4">
    <div class="md:max-w-[1200px] mx-auto">
        
        <section class="mt-[2vh]">
            <div class="flex justify-center py-4 text-accent font-bold text-3xl">
                <p>Update Data ke Tabel Pasien</p>
            </div>
        </section>

        <section class="mt-[2vh]">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="mb-4">
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </section>

        <section class="mt-[5vh]">
            <form action="/pasien/update" method="POST">
                <div class="flex flex-col p-4 gap-4 border-2 border-accent">

                    <!-- Nama Pasien -->
                    <div class="flex justify-between gap-4 p-4">
                        <label class="align-middle flex p-0 text-dark" for="nama_pasien">Nama Pasien</label>
                        <input class="border-2 border-gray-500 w-[80%] p-2" placeholder="{{ table.nama_pasien }}" type="text" name="nama_pasien" value="{{ table.nama_pasien }}" id="nama_pasien">
                    </div>

                    <!-- Keluhan -->
                    <div class="flex justify-between gap-4 p-4">
                        <label class="align-middle flex p-0 text-dark" for="keluhan">Keluhan</label>
                        <input class="border-2 border-gray-500 w-[80%] p-2" placeholder="Keluhan" type="text" name="keluhan" id="keluhan">
                    </div>

                    <!-- Jenis Kelamin -->
                    <div class="flex justify-between gap-4 p-4">
                        <label class="align-middle flex p-0 text-dark" for="jenis_kelamin">Jenis Kelamin</label>
                        <select class="border-2 border-gray-500 w-[80%] p-2" name="jenis_kelamin" id="jenis_kelamin">
                            <option value="L">Laki-laki</option>
                            <option value="P">Perempuan</option>
                        </select>
                    </div>

                    <!-- Tanggal Lahir -->
                    <div class="flex justify-between gap-4 p-4">
                        <label class="align-middle flex p-0 text-dark" for="tanggal_lahir">Tanggal Lahir</label>
                        <input class="border-2 border-gray-500 w-[80%] p-2" type="text" id="tanggal_lahir" name="tanggal_lahir" >
                    </div>

                    <!-- Alamat -->
                    <div class="flex justify-between gap-4 p-4">
                        <label class="align-middle flex p-0 text-dark" for="alamat">Alamat</label>
                        <input class="border-2 border-gray-500 w-[80%] p-2" placeholder="Alamat" type="text" name="alamat" id="alamat">
                    </div>

                    <!-- No HP -->
                    <div class="flex justify-between gap-4 p-4">
                        <label class="align-middle flex p-0 text-dark" for="no_hp">No HP</label>
                        <input class="border-2 border-gray-500 w-[80%] p-2" placeholder="No HP" type="text" name="no_hp" id="no_hp">
                    </div>

                    <!-- Petugas Admin -->
                    <div class="flex justify-between gap-4 p-4">
                        <label class="align-middle flex p-0 text-dark" for="id_petugas">Nama Petugas</label>
                        <select class="border-2 border-gray-500 w-[80%] p-2" name="id_petugas" id="id_petugas">
                            <option value="ADM001">Rini Widya</option>
                            <option value="ADM002">Bagas Santoso</option>
                            <option value="ADM003">Siti Lestari</option>
                            <option value="ADM004">Adi Wijaya</option>
                            <option value="ADM005">Lina Sari</option>
                            <option value="ADM006">Andi Saputra</option>
                            <option value="ADM007">Maya Putri</option>
                            <option value="ADM008">Heri Kurniawan</option>
                            <option value="ADM009">Fitra Handayani</option>
                            <option value="ADM0010">Dedi Susanto</option>
                            <option value="ADM0011">Ratna Dewi</option>
                            <option value="ADM0012">Yudi Firmansyah</option>
                            <option value="ADM0013">Rika Murni</option>
                            <option value="ADM0014">Sandi Pratama</option>
                            <option value="ADM0015">Rita Amalia</option>
                            <option value="ADM0016">Zaki Arya</option>
                            <option value="ADM0017">Fara Anna</option>
                        </select>
                    </div>
                    <div class="flex justify-end gap-6 p-4">
                        <a href="{{ url_for('routes.table_pasien') }}" class="px-8 py-3 border-[2px] border-accent text-accent box-border">Back to Table A List</a>
                        <button type="submit" class="px-8 py-3 bg-accent text-whites">Unggah</button>
                    </div>
                </div>
            </form>
            <br>
        </section>
    </div>
</main>
{% endblock %}
